@charset "utf-8";


.map-container {
    display: flex;

    .map {
        flex-grow: 1;
        margin: -16px;
    }

    .map-layer {
        position: fixed;
        background: #eee;
        opacity: .9;
        font-size: 12px;
        box-shadow: 0 0 5px 3px #333;
    }

    .map-legend {
        left: 10px;
        bottom: 140px;
        width: 120px;

        .title {
            padding: 5px;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 1px solid #b5cab5;
        }

        .legend-item {
            display: flex;
            margin: 10px 0 10px 10px;

            .legend-text {
                height: 32px;
                line-height: 32px;
                padding-left: 10px;
            }
        }

        .legend-icon {
            display: block;
            width: 36px;
            height: 24px;


            &.oil-depot {
                background: url(../img/oil-dept.png) no-repeat center;
            }

            &.car-icon {
                background: url(../img/car-small.png) no-repeat;
            }
        }
    }

    .map-summary {
        left: 10px;
        bottom: 10px;
        width: 200px;

        >.title {
            padding: 5px;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 1px solid #b5cab5;
        }

        .summary-item {
            height: 32px;
            line-height: 32px;
            padding: 5px;
            text-align: left;

            >span.title {
                font-size: 14px;
                font-weight: 700;
                width: 60px;
                display: inline-block;
                text-align: right;
            }

            label {
                padding: 0 5px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #b5cab5;
            }
        }
    }

}

.BMap_bubble_title {
    font-weight: 700;
    border-bottom: 1px solid #eee;
}

.car-row {
    display: flex;
    padding: 5px;

    &:not(:last-child) {
        border-bottom: 1px solid #eee;
    }

    .car-item {
        flex-grow: 1;

        >label {
            float: left;
            display: block;
            width: 100px;
            padding: 5px 0;
            text-align: right;
        }

        >div.car-value {
            height: 30px;
            line-height: 30px;
            margin-left: 110px;
        }
    }
}

/*弹窗-map*/
.dialog-map-input {
    padding: 10px 0;
}

#dialogMap {
    width: 100%;
    height: calc(100% - 58px);
}